
    *{
        box-sizing: border-box;  
        margin: 0;
        padding: 0;
        }

    li {
        font-family: "playfair display";
        font-weight: 900;
        font-size: 25px;
        color: black;
        text-decoration: none;
    } 

    header {
        display: flex;
        justify-content: center;
        padding: 50px;
        background-color: #fabec0;
      
    }

    .navbar {
        list-style: none;
        background-color: #fabec0;
    }

    .navbar li {
      display: inline-block;
      padding: 0px 70px;

    }

    .navbar li {
     transition: all 0.3 ease 0s;
    }

    .navbar li:hover {
       color: #F85C70;
       } 

       .navbar li {
           flex: 1
       }

       html, body {
        background-color: #ffffff;
        
       
      }

      .container {
        background-color: #fabec0;
      }

    
      .header-heading {
        max-height: 300px;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

 .container1 > div {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: x-large;
   color: black;
 }
  .container1 {
    height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 400px 300px 300px 600px 200px 100px 200px 500px 500px 500px 200px;
  
}




.billede {
  grid-column: 1 / -1;   
  }

  

.ommig {
 grid-column: 1 / -1;
 background-color: white;
 font-family: "playfair display" ;
 font-size: 40px;
 font-weight: 900; 
}


.Billede_ommig {
  grid-column: 1 / -1;
}


.ommig_tekst,p {
  grid-column: 4/10;
  text-align: center;
  font-family: "raleway";
  font-weight: 400;
  font-size: 20px;
}

.kompetencer {
  grid-column: 1 / -1;
  background-color: #fabec0;
  font-family: "playfair display";
  font-weight: 900;
  font-size: 40px;
  }
  
.ikon {
grid-column: 1 / -1 ;
grid-gap: 600px;
  background-color: #fabec0;
}

.ikon_tekst {
  grid-column: 1 / -1 ;
  grid-gap: 700px;
  background-color: #fabec0 ;
}





.portfolio {
  grid-column: 1 / -1;
  background-color: rgb(175, 25, 155);
}

.kontakt {
 grid-column: 1 / -1;
 background-color: rgb(43, 226, 156);
}

.footer {
  grid-column: 1 / -1;
  background-color: #fabec0;
  }
  
      
    

